PI24SN/src/lt/viko/eif/dsimanavicius/task1/siunta.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="shipment">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="shipmentId" type="xs:int"/>
                <xs:element name="sender" type="xs:string"/>
                <xs:element name="origin" type="xs:string"/>
                <xs:element name="destination" type="xs:string"/>
                <xs:element name="totalWeight" type="xs:float"/>
                <xs:element name="delivered" type="xs:boolean"/>
                <xs:element name="priority" type="xs:string"/>

                <xs:element name="packages">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="packageItem" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="xs:int"/>
                                        <xs:element name="description" type="xs:string"/>
                                        <xs:element name="weight" type="xs:float"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>