PirmasPraktinis/src/lt/viko/eif/dsimanavicius/task1/Files/siunta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="siunta">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="shipmentId"  type="xs:integer"/>
                <xs:element name="sender"      type="xs:string"/>
                <xs:element name="origin"      type="xs:string"/>
                <xs:element name="destination" type="xs:string"/>
                <xs:element name="totalWeight" type="xs:decimal"/>
                <xs:element name="delivered"   type="xs:boolean"/>
                <xs:element name="priority"    type="xs:string"/>

                <xs:element name="packages">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="packageItem"
                                        minOccurs="1"
                                        maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id"          type="xs:integer"/>
                                        <xs:element name="description" type="xs:string"/>
                                        <xs:element name="weight"      type="xs:decimal"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>